<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="dzf-auto">
	<suite-files>
		<suite-file path="process1.xml" />
		<!-- <suite-file path="process2.xml" /> -->
		<!-- <suite-file path="process3.xml" /> -->
	</suite-files>

	<listeners>
		<!-- reportNg Listener -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!-- arrow Listener -->
		<listener class-name="com.netease.qa.testng.TestResultListener" />
		<listener class-name="com.netease.qa.testng.RetryListener" />
		<listener class-name="com.netease.qa.testng.PowerEmailableReporter" />
		<!-- self Listener -->
		<listener class-name="com.dzf.test.util.testng.ScreenShotListener" />
	</listeners>
</suite>
